*{
    margin: 0px;
    width: auto;
}
.titlebar{
    height: 9rem;
    width: 100%;
    background-color: rgb(237, 232, 232);
    display: flex;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    background-color: rgb(206, 6, 62);
    width: 30%;
    margin: 10px;
}
.titleicon{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.con1{
    height: 4.2rem;
    width: 66.2rem;
    margin-bottom: 10px;
    background-color: white;
    margin-left: 10px;
    padding-left: 45%;
    display: flex;
    flex-direction:  row; 
    
}
.submenu1{

    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    width:150px;
    margin-left:0px;
    margin-right: 50px;
    border:2px solid;
    background-color: purple;

}
.con2{
    height: 4.2rem;
    width: 66.2rem;
    margin-bottom: 10px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    flex-direction:  row;
    justify-content: space-around;
}
.submenu4,.submenu5,.submenu6,.submenu7,.submenu8,.submenu9,.submenu10,.submenu11{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:120px;
    border:2px solid;
    background-color:aquamarine;
}
.container{
    display: flex;
    background-color: white;
    flex-direction: column;
    height: 35rem;
    margin-top: 10px;
    border:2px solid;

}
.Image{
    display: flex;
    height: 400px;
    margin: 15px;
    background-color: rgb(9, 144, 193);
    width: 1500px;
    border:2px solid;
    justify-content: center;
    align-items: center;
}
.Scrollbar{
    display:flex;
    height:50px;
    background-color: rgb(80, 6, 100);
    color:white;
    width:150px;
    border:2px solid;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
}

